<h2><strong>To do:</strong> <%= @task.title %></h2>
<p><strong>Description:</strong> <%= @task.details %></p>
<p><strong>Completed?:</strong> <%= @task.completed %></p>

<%= link_to "Edit #{@task.title}",
            edit_task_path(@task) %>
<br>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<br>
<br>
<%= link_to 'Back to list', tasks_path %>
