<h2><strong>To do:</strong> <%= @tasks.title %></h2>
<p><strong>Description:</strong> <%= @tasks.details %></p>
<p><strong>Completed?:</strong> <%= @tasks.completed %></p>

<%= link_to "Edit #{@tasks.title}",
            edit_task_path(@tasks) %>
<br>
<%= link_to "Delete #{@tasks.title}",
            task_path(@tasks),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<br>
<br>
<%= link_to 'Back to list', tasks_path %>
